{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href={% block favicon %}"{% static '7422495_nasa_space_shuttle_universe_explore_icon.png' %}"{% endblock %}>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
            <span class="logo"><a href="{% url 'blog:post_list' %}">Newsexpress</a></span>
            {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url 'dashboard' %}">My dashboard</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="#">Images</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="#">People</a>
                </li>
            </ul>
            {% endif %}
            <span class="user">
                {% if request.user.is_authenticated %}
                {% if request.user.profile.photo %}
                <img src="{{ request.user.profile.photo.url }}" width="20px" height="20px" alt="Profile Picture">
                {% else %}
                <img src="{% static 'download (1).jpg' %}" width="20px" height="20px" alt="Profile Picture">
                {% endif %}
                Hello {{ request.user.last_name|default:request.user.username }}
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'login' %}">Log-in</a>
                {% endif %}
            </span>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">x</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
<nav class="navbar fixed-bottom" id="header" style="border-radius: 10px; padding-top: 2px; padding-bottom: 2px;">
        <span class="navbar-text text-center" style="width: 100%">
            Copyright &copy; 2024 formAT! Inc. All Rights Reserved.
        </span>
    </nav>
</html>