{% extends 'base.html' %}
{% load static %}

{% block title %}Edit your account{% endblock %}

{% block favicon %}"{% static '299044_terminal_icon.png' %}"{% endblock %}

{% block content %}
{% if user_form.is_valid and profile_form.is_valid %}
<h2>You have successfully edited your profile. You can now go back to <a href="{% url 'dashboard' %}">your dashboard</a></h2>
{% else %}
<h1>Edit your account</h1>
<p>You can edit your account using the follwing form:</p>
<form method='post' enctype='multipart/form-data'>
{{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Save changes"></p>
</form>
{% endif %}
{% endblock %}
    